.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include tablets() {
  .steps {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}